<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration     PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias alias="Users" type="com.chinaebi.pmp.database.entity.Users" />
		<typeAlias alias="Menu" type="com.chinaebi.pmp.database.entity.Menu" />
	</typeAliases>
	<mappers>
		<mapper resource="mybatis-mapper/Tbl_UsersMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_MenuMapper.xml"/>
	</mappers>
</configuration>