<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration     PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias alias="Users" type="com.chinaebi.pmp.database.entity.Users" />
		<typeAlias alias="Menu" type="com.chinaebi.pmp.database.entity.Menu" />
		<typeAlias alias="Channel" type="com.chinaebi.pmp.database.entity.Channel" />
		<typeAlias alias="Tlog" type="com.chinaebi.pmp.database.entity.Tlog" />
		<typeAlias alias="TradeType" type="com.chinaebi.pmp.database.entity.TradeType" />
		<typeAlias alias="AcqBank" type="com.chinaebi.pmp.database.entity.AcqBank" />
		<typeAlias alias="DeductChannel" type="com.chinaebi.pmp.database.entity.DeductChannel" />
		<typeAlias alias="UnionpayAreaCode" type="com.chinaebi.pmp.database.entity.UnionpayAreaCode" />
		<typeAlias alias="MerInfo" type="com.chinaebi.pmp.database.entity.MerInfo" />
		<typeAlias alias="UsersAuthorities" type="com.chinaebi.pmp.database.entity.UsersAuthorities" />
		<typeAlias alias="AskForTerm" type="com.chinaebi.pmp.database.entity.AskForTerm" />
		<typeAlias alias="MerPhotoInfo" type="com.chinaebi.pmp.database.entity.MerPhotoInfo" />
		<typeAlias alias="MerExpandOrganization" type="com.chinaebi.pmp.database.entity.MerExpandOrganization" />
	</typeAliases>
	<mappers>
		<mapper resource="mybatis-mapper/Tbl_UsersMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_MenuMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_ChannelMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_TlogMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_TradeTypeMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_AcqBankMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_DeductChannelMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_UnionpayAreaCodeMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_MerInfoMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_UsersAuthoritiesMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_AskForTermMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_MerPhotoInfoMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_MerExpandOrganizationMapper.xml"/>
	</mappers>
</configuration>