<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!--表 mer_photo_info操作方法-->
<mapper namespace="MerPhotoInfoManager">
	<resultMap type="MerPhotoInfo" id="MerPhotoInfoMap">
		 	<id property="id" column="id" />
		 	<result property="mid" column="mid" />
		 	<result property="photoUrl" column="photo_url" />
		 	<result property="makeTime" column="make_time" />
	</resultMap>
	<!--查询方法-->
	<select id="select" parameterType="MerPhotoInfo" resultMap="MerPhotoInfoMap">
		select * from mer_photo_info t
		where 1=1 
    		<if test="id != null and id != ''">
    			 and t.id = #{id}
    		</if>
    		<if test="mid != null and mid != ''">
    			 and t.mid = #{mid}
    		</if>
    		<if test="photoUrl != null and photoUrl != ''">
    			 and t.photo_url = #{photoUrl}
    		</if>
    		<if test="makeTime != null and makeTime != ''">
    			 and t.make_time = #{makeTime}
    		</if>
	</select>
	<!--添加方法-->
	<insert id="insert" parameterType="MerPhotoInfo">
		insert into mer_photo_info(
				mid,
				photo_url,
				make_time
		) values(
				#{mid},
				#{photoUrl},
				#{makeTime}
			)
	</insert>
</mapper>



