<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!--表 acq_bank操作方法-->
<mapper namespace="AcqBankManager">
	<resultMap type="AcqBank" id="AcqBankMap">
		 	<id property="acqBankId" column="acq_bank_id" />
		 	<result property="acpBankName" column="acp_bank_name" />
		 	<result property="remark" column="remark" />
		 	<result property="createTime" column="create_time" />
		 	<result property="xpeSystemNum" column="xpe_system_num" />
		 	<result property="institutionCode" column="institution_code" />
		 	<result property="status" column="status" />
	</resultMap>
	<!--查询方法-->
	<select id="select" resultMap="AcqBankMap">
		select * from acq_bank t
	</select>
</mapper>



