<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!--表 tlog操作方法-->
<mapper namespace="TlogManager">
	<resultMap type="Tlog" id="TlogMap">
		 	<id property="id" column="id" />
		 	<result property="tseq" column="tseq" />
		 	<result property="version" column="version" />
		 	<result property="ip" column="ip" />
		 	<result property="mdate" column="mdate" />
		 	<result property="mid" column="mid" />
		 	<result property="bid" column="bid" />
		 	<result property="oid" column="oid" />
		 	<result property="amount" column="amount" />
		 	<result property="type" column="type" />
		 	<result property="gate" column="gate" />
		 	<result property="sysDate" column="sys_date" />
		 	<result property="initSysDate" column="init_sys_date" />
		 	<result property="sysTime" column="sys_time" />
		 	<result property="batch" column="batch" />
		 	<result property="feeAmt" column="fee_amt" />
		 	<result property="bankFee" column="bank_fee" />
		 	<result property="tstat" column="tstat" />
		 	<result property="bkFlag" column="bk_flag" />
		 	<result property="orgSeq" column="org_seq" />
		 	<result property="refSeq" column="ref_seq" />
		 	<result property="refundAmt" column="refund_amt" />
		 	<result property="merPriv" column="mer_priv" />
		 	<result property="bkSend" column="bk_send" />
		 	<result property="bkRecv" column="bk_recv" />
		 	<result property="bkUrl" column="bk_url" />
		 	<result property="fgUrl" column="fg_url" />
		 	<result property="bkChk" column="bk_chk" />
		 	<result property="bkDate" column="bk_date" />
		 	<result property="bkSeq1" column="bk_seq1" />
		 	<result property="bkSeq2" column="bk_seq2" />
		 	<result property="bkResp" column="bk_resp" />
		 	<result property="mobileNo" column="mobile_no" />
		 	<result property="transPeriod" column="trans_period" />
		 	<result property="cardNo" column="card_no" />
		 	<result property="errorCode" column="error_code" />
		 	<result property="authorType" column="author_type" />
		 	<result property="phoneNo" column="phone_no" />
		 	<result property="operId" column="oper_id" />
		 	<result property="gid" column="gid" />
		 	<result property="preAmt" column="pre_amt" />
		 	<result property="preAmt1" column="pre_amt1" />
		 	<result property="bkFeeModel" column="bk_fee_model" />
		 	<result property="terminalNumber" column="terminal_number" />
		 	<result property="xpepMercode" column="xpep_mercode" />
		 	<result property="xpepTermid" column="xpep_termid" />
		 	<result property="xpepTrancode" column="xpep_trancode" />
		 	<result property="xpepTrace" column="xpep_trace" />
		 	<result property="xpepTradeDatetime" column="xpep_trade_datetime" />
		 	<result property="xpepOutcard" column="xpep_outcard" />
		 	<result property="xpepTradeResp" column="xpep_trade_resp" />
		 	<result property="xpeTradetype" column="xpe_tradetype" />
		 	<result property="xpeDeductMercode" column="xpe_deduct_mercode" />
		 	<result property="xpeDeductTermid" column="xpe_deduct_termid" />
		 	<result property="xpeDeductTrace" column="xpe_deduct_trace" />
		 	<result property="xpeDeductInsid" column="xpe_deduct_insid" />
		 	<result property="xpeDeductResp" column="xpe_deduct_resp" />
		 	<result property="xpeDeductRefer" column="xpe_deduct_refer" />
		 	<result property="xpeDeductAuthcode" column="xpe_deduct_authcode" />
		 	<result property="xpeDeductRollbkFlag" column="xpe_deduct_rollbk_flag" />
		 	<result property="xpeDeductRollbkReason" column="xpe_deduct_rollbk_reason" />
		 	<result property="xpeDeductRollbkStance" column="xpe_deduct_rollbk_stance" />
		 	<result property="xpeDeductRollbkResp" column="xpe_deduct_rollbk_resp" />
		 	<result property="xpeDeductRollBkResponse" column="xpe_deduct_roll_bk_response" />
		 	<result property="xpeDeductRollBkSysReference" column="xpe_deduct_roll_bk_sys_reference" />
		 	<result property="xpepTermId" column="xpep_term_id" />
		 	<result property="xpepTermIdm" column="xpep_term_idm" />
		 	<result property="xpepIntcdNo" column="xpep_intcd_no" />
		 	<result property="xpepDeductSysTime" column="xpep_deduct_sys_time" />
		 	<result property="xpepDeductStlmDate" column="xpep_deduct_stlm_date" />
		 	<result property="xpepTrademsgType" column="xpep_trademsg_type" />
		 	<result property="flag" column="flag" />
		 	<result property="xpepSendcde" column="xpep_sendcde" />
		 	<result property="xpepTradeCardType" column="xpep_trade_card_type" />
		 	<result property="xpepGainSysId" column="xpep_gain_sys_id" />
		 	<result property="xpepGainSysStance" column="xpep_gain_sys_stance" />
		 	<result property="xpepGainMerCode" column="xpep_gain_mer_code" />
		 	<result property="xpepGainMerTermId" column="xpep_gain_mer_term_id" />
		 	<result property="xpepGainTradeAmount" column="xpep_gain_trade_amount" />
		 	<result property="xpepGainSysResponse" column="xpep_gain_sys_response" />
		 	<result property="xpepGainSysReference" column="xpep_gain_sys_reference" />
		 	<result property="xpepGainResult" column="xpep_gain_result" />
		 	<result property="xpepAuthCode" column="xpep_auth_code" />
		 	<result property="posFlag" column="pos_flag" />
		 	<result property="xpepPosmercode" column="xpep_posmercode" />
		 	<result property="xpepPostermcode" column="xpep_postermcode" />
		 	<result property="xpepIntcdbank" column="xpep_intcdbank" />
		 	<result property="xpepIntcdname" column="xpep_intcdname" />
		 	<result property="chinnalId" column="chinnal_id" />
		 	<result property="xpepOutcdtype" column="xpep_outcdtype" />
		 	<result property="xpepPoitcde" column="xpep_poitcde" />
		 	<result property="xpepGpsid" column="xpep_gpsid" />
		 	<result property="abbrev" column="abbrev" />
		 	<result property="gisaddr" column="gisaddr" />
		 	<result property="installAddress" column="installAddress" />
	</resultMap>
    <!--分页查询 记录-->
	<select id="queryPage" parameterType="Tlog" resultMap="TlogMap">
		select 
			t.tseq,t.mid,t.oid,t.mdate,t.amount,t.type,t.gate,t.gid,t.sys_date,t.sys_time,t.tstat,t.bk_chk,t.fee_amt,t.bank_fee,
			t.bk_seq1,t.bk_seq2, t.Phone_no,t.error_code,t.xpe_deduct_trace,t.xpe_deduct_refer,t.xpep_trademsg_type,
			t.xpep_outcard,t.xpep_trace,t.terminal_number,t.xpep_term_id,t.xpep_trancode,t.xpep_mercode,t.xpep_termid, 
			t.xpep_auth_code,t.bk_fee_model,m.abbrev,t.xpep_trade_resp,t.xpep_posmercode, 
			t.xpep_poitcde,g.gisaddr,sales.pic_path, sales.geo_address,term.install_address 
        from tlog t 
			left join mer_config as c on t.xpep_posmercode = c.inner_mercode 
			left join mer_info as m on m.mid = c.mid left join mer_term_config as mt on t.terminal_number = mt.psm_card_id 
			left join mer_info as mi on mi.mid = mt.mid left join gis_info as g on t.xpep_gpsid=g.giscode 
			left join sales_slip_info as sales on t.oid=sales.order_num 
			left join term_install_info as term on t.xpep_postermcode=term.term_id
		limit #{startRow},#{limit}
	</select>
	<!--分页查询  计数-->
	<select id="queryPageCount" parameterType="Tlog" resultType="int">
		select 
			count(*)
        from tlog t 
			left join mer_config as c on t.xpep_posmercode = c.inner_mercode 
			left join mer_info as m on m.mid = c.mid left join mer_term_config as mt on t.terminal_number = mt.psm_card_id 
			left join mer_info as mi on mi.mid = mt.mid left join gis_info as g on t.xpep_gpsid=g.giscode 
			left join sales_slip_info as sales on t.oid=sales.order_num 
			left join term_install_info as term on t.xpep_postermcode=term.term_id
	</select>
</mapper>



