<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!--表 menu操作方法-->
<mapper namespace="MenuManager">
	<resultMap type="Menu" id="MenuMap">
		 	<id property="id" column="id" />
		 	<result property="menuId" column="menu_id" />
		 	<result property="menuName" column="menu_name" />
		 	<result property="menuUrl" column="menu_url" />
		 	<result property="menuLevel" column="menu_level" />
		 	<result property="parentMenuId" column="parent_menu_id" />
		 	<result property="menuStatus" column="menu_status" />
		 	<result property="menuType" column="menu_type" />
		 	<result property="menuDepartment" column="menu_department" />
	</resultMap>
   
	<!--查询方法-->
	<select id="selectFirsetMenus" parameterType="string" resultMap="MenuMap">
		select * from menu t
		left join users_authorities on t.menu_id = users_authorities.menu_id
		left join users ON users.id = users_authorities.user_id
		where users.user_name=#{_parameter} and t.menu_level=1 and t.menu_status=0
		order by t.menu_id asc
	</select>
	<select id="selectSecondsMenus" parameterType="map" resultMap="MenuMap">
		select * from menu t
		left join users_authorities on t.menu_id = users_authorities.menu_id
		left join users ON users.id = users_authorities.user_id
		where users.user_name=#{userName} and t.menu_level=2 and t.menu_status=0 and t.parent_menu_id =#{parentMenuId}
	</select>
	<select id="selectThirdMenus" parameterType="map" resultMap="MenuMap">
		select * from menu t
		left join users_authorities on t.menu_id = users_authorities.menu_id
		left join users ON users.id = users_authorities.user_id
		where users.user_name=#{userName} and t.menu_level=3 and t.menu_status=0 and t.parent_menu_id =#{parentMenuId}
	</select>
	<select id="select" parameterType="Menu" resultMap="MenuMap">
		select * from menu t
		where 1=1 and t.menu_status=0
		<if test="menuLevel !=0">
			and t.menu_level=#{menuLevel}
		</if>
		<if test="parentMenuId !=0">
			and t.parent_menu_id=#{parentMenuId}
		</if>
		<if test="menuType !=null and menuType !=''">
			and t.menu_type=#{menuType}
		</if>
	</select>
</mapper>



